@{
	ViewBag.Title = "Home Page";
}

<div id="home_feature">
	<div class="background">
		<div class="inner">
			
			<div id="slider_thumbnails"><div id="slider_preview_img"></div></div>
			<div id="loading_slider"></div>
			<div id="slider_img">
				
				
				<!-- start homepage slider_cropped -->
				<div class="image_loader slider_cropped">
					<div class="slider_content">
						<h2></h2>
						<p></p>
					</div>
					<div class="slider_img_cropped">
						<a href="#" class="load_slider_img">
							<span class="rm_img"><img src="http://themes.mysitemyway.com/infocus/wp-content/slides/arch-960-1.jpg" alt="" /></span>	
						</a>
					</div>
				</div>
				<!-- end homepage slider_cropped -->
				
				
				<!-- start homepage slider_full_cropped -->
				<div class="image_loader slider_full">
					<div class="slider_content">
						<h2>Mi hendrerit posuere</h2>
						<p>To easily create this slide effect simply choose full-cropped in the homepage slider settings and your image will be cropped and framed for you.</p>
						<a class="button" href="http://themes.mysitemyway.com/infocus/cras-sit-amet-dolor-tellus/">Read More</a>
					</div>
					<div class="slider_img_full_cropped">
						<a href="#" class="load_slider_img">
							<span class="rm_img"><img src="http://themes.mysitemyway.com/infocus/wp-content/pics/arch-small1.jpg" alt="" /></span>
							<span class="slider_frame"></span>
						</a>
					</div>
				</div>
				<!-- end homepage slider_full_cropped -->
				
				
				<!-- start homepage slider_full_cropped -->
				<div class="image_loader slider_full">
					<div class="slider_content">
						<h2>Mi hendrerit posuere</h2>
						<p>To easily create this slide effect simply choose full-cropped in the homepage slider settings and your image will be cropped and framed for you.</p>
						<a class="button" href="http://themes.mysitemyway.com/infocus/cras-sit-amet-dolor-tellus/">Read More</a>
					</div>
					<div class="slider_img_full_cropped">
						<a href="#" class="load_slider_img">
							<span class="rm_img"><img src="http://themes.mysitemyway.com/infocus/wp-content/pics/home4.jpg" alt="" /></span>
							<span class="slider_frame"></span>
						</a>
					</div>
				</div>
				<!-- end homepage slider_full_cropped -->
				
				
				<!-- start homepage slider_cropped -->
				<div class="image_loader slider_cropped">
					<div class="slider_content">
						<h2>Mi hendrerit posuere</h2>
						<p>To easily create this slide effect simply choose full-cropped in the homepage slider settings and your image will be cropped and framed for you.</p>
						<a class="button" href="http://themes.mysitemyway.com/infocus/cras-sit-amet-dolor-tellus/">Read More</a>
					</div>
					<div class="slider_img_cropped">
						<a href="#" class="load_slider_img">
							<span class="rm_img"><img src="http://themes.mysitemyway.com/infocus/wp-content/pics/arch-small2.jpg" alt="" /></span>	
						</a>
					</div>
				</div>
				<!-- end homepage slider_cropped -->
				
				
			</div><!-- end slider_img -->
			
			
			
		</div><!-- inner -->							
	</div><!-- background -->							
</div><!-- home_feature -->
			
			
<div id="call_to_action">
	<div class="inner">
		<div id="blurb">A state permitting clear perception and understanding; the area that may be seen distinctly or resolved into a clear image.</div>
			<div id="call_to_action_button">
			<a href="#"></a>
		</div>
	</div><!-- inner -->							
</div><!-- call_to_action -->

<div class="clearboth"></div>


<div id="body_block">
	<div class="inner">
		<div id="primary_full">
			<div class="content">
				
				<!-- start body content -->
				
				<div class="entry">
					
					<h1>Four Reasons to Get inFocus Now!</h1>

						<div class="one_fourth"><h6>Solid Code Framework</h6><p><span class="dropcap1">1</span>This theme is built on a solid code frame work and is XHTML valid. It also comes in 10 color variations which allows for tremendous control over your theme's appearance quickly and easily.</p><img style="margin-top:-10px;" src="/Content/images/black/front_infocus.png" alt="inFocus"/>
						</div><!-- one_fourth -->

						<div class="one_fourth"><h6>Web Standards</h6><p><span class="dropcap1">2</span>Your theme has been coded with web standards in mind. It's been tested in all major browsers, among them Internet Explorer 7 and 8, Firefox, Opera, Google Chrome and Safari.<br /></p><img style="margin-top:-10px;" src="/Content/images/black/front_browsers.png" alt="Web Browsers"/>
						</div><!-- one_fourth -->

						<div class="one_fourth"><h6>Design Flexibility</h6><p><span class="dropcap1">3</span>Your theme comes with 20 page templates showcasing all the design flexibility your theme has to offer, including Drop Caps, Toggle Box, Button Styles and multiple Div layouts.</p><img style="margin-top:-10px;" src="/Content/images/black/front_infocus.png" alt="inFocus"/>
						</div><!-- one_fourth -->

						<div class="one_fourth last"><h6>Advanced jQuery</h6><p><span class="dropcap1">4</span>Your theme comes with Advanced jQuery scripts that work seamlessly behind the scene to create an impressive and unique user experience. Including Image Preloading and Homepage slider.</p><img style="margin-top:-10px;" src="/Content/images/black/front_jquery.png" alt="jQuery"/>
						</div><!-- one_fourth -->	
							
				</div><!-- entry-->
				
				<!-- end body content -->
				
				</div> <!-- content -->
			</div><!-- primary-full -->
		<div class="clearboth"></div>
	</div><!-- inner -->								
</div><!-- body_block -->